/**
 * @file
 * Visual styles for Bootstrap Barrio's node component.
 */

.node__content {
    font-size: $font-size-base;
    margin-top: 0;
}


/* View mode teaser styles. */

.node--view-mode-teaser {
  border-bottom: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  .node__title {
    font-size: 17px;
    margin: 0 0 10px 0;
    padding: 0;

    a {
      color: $primary-dark;
    }
  }

  .node__content {
    width: 66%;

    @media screen and (max-width: map-get($grid-breakpoints, 'md')) {
      width: inherit;
    }

    .field {
      margin: 0;

      /* Labeled fields in the result snippet */
      .field__label {
        font-weight: bold;

        &:after {
          content: ":";
        }
      }

      .field__items {
        display: inline;
      }
    }
  }

  &:hover {
    background-color: #F7FBF8;

    .node__title {
      a {
        color: $primary-hover;
        text-decoration: underline;
      }
    }
  }
}

.node--view-mode-teaser h2 {
    margin-top: 0;
    padding-top: 0.5em;
}

.node--view-mode-teaser.node--sticky {
    background: #f9f9f9;
    background: rgba(0, 0, 0, 0.024);
    border: $border-width solid $border-color;
    padding: 0 $spacer $spacer;
}

.node--view-mode-teaser .node__content {
    clear: none;
    font-size: $font-size-base;
    line-height: $line-height-base;
}


/* Node metadata styles. */

.node__meta {
    font-size: $font-size-sm;
    margin-bottom: -5px;
}

.node__meta .field--name-field-user-picture img {
    float: left;
    /* LTR */
    margin: 1px $spacer 0 0;
    /* LTR */
}

[dir="rtl"] .node__meta .field--name-field-user-picture img {
    float: right;
    margin-left: $spacer;
    margin-right: 0;
}


/* Node links styles. */

.node__links {
    text-align: right;
    /* LTR */
    font-size: $font-size-base;
}

[dir="rtl"] .node__links {
    text-align: left;
}


/* Unpublished node styles. */

.node--unpublished {
    padding: $spacer $spacer 0;
}

.node--unpublished .comment-text .comment-arrow {
    border-left: $border-width solid #fff4f4;
    border-right: $border-width solid #fff4f4;
}


/* Norma en elaboracion */

.norma-en-elab {
    background: rgba(216, 216, 216, 0.1);
    padding: 15px;
    .field {
        width: 100%;
        display: block;
        overflow: hidden;
        margin-bottom: 28px;
        .field__label {
            width: 25%;
            float: left;
            color: $gray-800;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 12px;
            font-weight: bold;
            line-height: 18px;
        }
        .field__item,
        .field__items {
            width: 75%;
            color: $gray-800;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 12px;
            line-height: 18px;
        }
    }
}


/* Noticias */

.node--type-noticia{
  color: $gray-800;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 2em;
  .field--name-field-subtitle-noticias{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .field--name-field-noticia-texto-completo{
    .imp-text{
      margin-left: 40px;
      font-weight: 600;
      border-left: 5px solid $primary-dark;
      padding-left: 20px;
    }
    .img-with-text{
      margin-top: 30px;
      width: 100%;
      position: relative;
      img{
        width: 100%;
        border-radius: 2px;
      }
      .foot-text{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #333333;
        padding: 3px 15px;
        color: $accent-shade;
        font-size: 14px;
        border-radius: 0 0 2px 2px;
      }
    }
  }
}