//Elementos comunes de los paragraphs
.text-li {
    /*NO BORRAR - USADO*/
    padding-right: 7%;
    padding-left: 2em;
    font-weight: 600;
    .field-collection-item--name-field-url {
        padding-bottom: 1.5em;
    }
    &::before {
        @extend .iconos-before;
        color: $primary-light;
        padding-left: 21px;
    }
}

.iconos-before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    margin-right: 5px;
}

.icon-green {
    /*NO BORRAR - USADO*/
    color: $primary-dark;
    font-size: 14px;
    margin-right: 0px;
}

// Titulo de lista de un paragraph
.paragraph-list-title-bold {
    font-weight: 600;
    padding: 0.75rem 0;
}

// Lista indentada en negrita
.list-black-bold {
    /*NO BORRAR - USADO*/
    @extend .text-li;
    text-indent: -1.2em;
    a {
        color: black;
        font-size: 14px;
        padding-left: 0.6em;
    }
}

.list-bold-before-green {
    @extend .text-li;
    text-indent: -1.4em;
    &::before {
        content: "\25ba";
        @extend .icon-green;
    }
    a {
        color: black;
        font-size: 14px;
    }
}

// Ocultar títulos de los paragraphs
.field--name-field-datos-basicos>div,
.field--name-field-puede-interesar>div,
.field--name-field-slider>div {
    //, .field--name-field-servicios-informacion > div
    &:first-child {
        &[class="field__label"] {
            display: none;
        }
    }
}

///*------------------------------------
//    # Paragraph | Directo a
//------------------------------------*/
.card-directo-a {
    background-color: #F7FBF8;
    font-weight: bold;
    color: #333;
    border: none;
    .card-header {
        background-color: #F7FBF8;
        border-bottom: 0.125rem solid #ffffff;
        font-size: 0.875rem;
        padding: 1.3125rem 1.746875rem 0.75rem;
        font-size: 17px;
        line-height: 22px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
    }
    .card-body {
        color: #087021;
        font-weight: 600;
        line-height: 22px;
        padding: 1.25rem 1rem;
        font-size: 1rem;
        .fa-li {
            line-height: 0px;
        }
    }
}

///*------------------------------------
//    # Paragraph | Directo a con imagen
//------------------------------------*/
.card-directo-a-imagen {
    width: 23.4375rem;
    // position: absolute;
    // right: 0%;
    float: right;
    z-index: 8;
    height: 100%;
    @extend .card-directo-a;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

///*------------------------------------
//    # Paragraph | Mas informacion
//------------------------------------*/
.field--name-field-servicio-mas-informacion {
    max-width: 350px;
    .field__label {
        @extend .paragraph-list-title-bold;
    }
}

//Paragraph "Datos básicos"
.paragraph--type--datos-basicos {
    max-width: 277px;
    background-color: $primary-back;
    padding: 1%;
    .field--name-field-title1,
    .field--name-field-mas-informacion {
        font-weight: 600;
        margin-bottom: 5%;
    }
    .field--name-field-foto {
        margin: 0 auto;
        float: none;
    }
    .field--name-field-mas-informacion {
        margin-top: 5%;
        &::before {
            @extend .iconos-before;
            content: "\25ba";
            color: $primary-dark;
        }
    }
    .field__label {
        margin-bottom: 5%;
    }
    // Título sección Sobre el organismo o la consejería 
    .field--name-field-title {
        border-top: 1px solid $gray-300;
        padding-top: 4.5%;
        font-weight: 600;
    }
    .field--name-field-url {
        .field__item {
            @extend .list-bold-before-green;
            margin: 4% auto;
        }
    }
}

///*------------------------------------
//    # Paragraph | Mas informacion
//------------------------------------*/
.te-puede-interesar {
    li a {
        font-weight: bold;
        color: #333;
    }
    li .icon-green {
        margin-right: .75rem;
    }
}

//Paragraph "Servicios - Información"
.paragraph--type--servicios-informacion {
    border: 1px solid $gray-300;
    margin: 0.5%;
    max-width: 375px;
    padding: 1.5%;
    i,
    h5 {
        display: inline-block;
        margin-right: 1em;
    }
    i {
        color: $primary-light;
    }
    h5 {
        margin-bottom: 6%;
    }
    .field__label,
    .field__item {
        margin-left: 1.8em;
        color: $gray-600;
    }
    .field__item,
    a {
        font-weight: 600;
        color: black;
    }
    .field--name-field-estado,
    .field--name-field-plazo {
        display: inline-block;
        width: 49%;
        vertical-align: top;
    }
}

@include responsive {
    .paragraph--type--servicios-informacion {
        padding: 10%;
        h5 {
            margin-bottom: 6%;
        }
        .field--name-field-estado,
        .field--name-field-plazo {
            display: block;
            width: 100%;
        }
    }
}

///*------------------------------------
//    # Paragraph | Datos basicos
//------------------------------------*/
.datos-basicos {
    display: block;
    overflow: hidden;
    .left-col {
        display: block;
        float: left;
        width: 20%;
        .field.field__item {
            width: 100%;
            .field {
                .field__item {
                    width: 100%;
                }
            }
        }
    }
    .right-col {
        display: block;
        float: right;
        width: 80%;
        color: $gray-800;
        font-size: 12px;
        line-height: 18px;
        >.field {
            margin-bottom: 16px;
            display: block;
            float: left;
            width: 100%;
            >.field__label {
                width: 20%;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                display: block;
                float: left;
            }
            >.field__item,
            >.field__items {
                width: 80%;
                display: block;
                float: right;
                >.field__item {
                    width: 100%;
                    display: block;
                    float: left;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid $border-list-inverse;
                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    .paragraph {
                        width: 100%;
                        display: block;
                        float: left;
                        position: relative;
                        .field {
                            width: 100%;
                            float: left;
                            margin-bottom: 8px;
                            .field__label {
                                width: 40%;
                                font-family: 'Source Sans Pro', sans-serif;
                                font-weight: bold;
                                display: block;
                                float: left;
                            }
                            .field__item {
                                width: 60%;
                                display: block;
                                float: right;
                            }
                        }
                    }
                }
            }
        }
        .field--name-field-organismo-titular {
            .field__item {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                color: $primary-dark;
            }
        }
    }
}

@include responsive {
    .datos-basicos {
        .left-col,
        .right-col {
            width: 100%;
        }
        .left-col {
            img {
                margin-bottom: 0;
            }
        }
        .right-col {
            >.field {
                margin-bottom: 15px;
            }
            >.field--name-field-organismo-titular,
            >.field--name-field-datbas-cargo,
            >.field--name-field-organo-sede {
                >.field__label {
                    display: none;
                }
                >.field__item,
                >.field__items {
                    width: 100%;
                    >.field__item {
                        >.paragraph {
                            >.field {
                                .field__label {
                                    width: 35%;
                                }
                                .field__item {
                                    width: 65%;
                                }
                            }
                        }
                    }
                }
            }
            >.field--name-field-organismo-titular {
                color: $primary-dark;
            }
        }
    }
}

.datos-basicos-datos-contacto {
    display: block;
    overflow: hidden;
    .left-col {
        display: block;
        float: left;
        width: 50%;
        padding-right: 15px;
        >h2 {
            width: 100%;
            display: block;
            float: left;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 21px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 1rem;
        }
        >img {
            width: 100%;
            margin-bottom: 10px;
        }
        >a {
            color: $primary-dark;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 15px;
            font-weight: bold;
            line-height: 19px;
            margin-top: 5px;
            display: block;
            position: relative;
            >i {
                position: absolute;
                top: 3px;
            }
            >span {
                display: block;
                margin-left: 10px;
            }
        }
    }
    .right-col {
        display: block;
        float: right;
        width: 50%;
        color: $gray-800;
        font-size: 13px;
        line-height: 18px;
        padding-left: 15px;
        >h2 {
            width: 85%;
            display: block;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 21px;
            font-weight: 700;
            margin: 1rem auto 20px;
        }
        >.paragraph {
            margin-bottom: 16px;
            display: block;
            float: left;
            width: 100%;
            border: 1px solid #d8d8d8;
            padding: 10px;
            >.field {
                >.field__label {
                    display: none;
                }
                &.field--name-field-nombre-sede {
                    >.field__item {
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }
                &.field--name-field-localidad-sede,
                &.field--name-field-codigo-postal-sede {
                    display: inline-block;
                    margin-bottom: 10px;
                }
                &.field--name-field-telefono-sede,
                &.field--name-field-fax-sede {
                    >.field__label,
                    >.field__item {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $screen-lg-max) {
    .datos-basicos-datos-contacto{
        margin-bottom: 40px;
    }
}

@media all and (max-width: $screen-md-max) {
    .datos-basicos-datos-contacto{
        margin-bottom: 20px;
    }
}

@include mobile-responsive {
    .datos-basicos-datos-contacto {
        .left-col,
        .right-col {
            width: 100%;
            padding: 0;
        }
        .left-col {
            margin-bottom: 20px;
        }
    }
}

.datos-basicos-rrss, .datos-basicos-sitio-web {
    >a {
        display: block;
        float: left;
        width: 100%;
        border-top: 1px solid #ececec;
        padding: 14px 11px;
        &:last-child {
            border-bottom: 1px solid #ececec;
            margin-bottom: 20px;
        }
        >i{
            width: 15px;
        }
        >i.svg-inline--fa {
            font-size: 24px;
            display: block;
            float: left;
            width: 35px;
            color: $primary-dark;
            text-align: center;
        }
        span {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 15px;
            font-weight: 700;
            line-height: 22px;
            color: $gray-800;
            margin-left: 15px;
        }
        &:hover {
            text-decoration: none;
            span {
                color: $primary-shade;
                text-decoration: underline;
            }
        }
    }
}

.datos-basicos-solapa{
    .imagebox {
        margin: 0 0 20px 15px;
        img {
            opacity: 1;
            width: 100%;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;      
        }

        .imagebox-desc {
            background-color: rgba(8,112,33,0.76);
            bottom: 0px;
            color: white;
            font-size: 0.75em;
            left: 0px;
            padding: 2px 13px;
            position: absolute;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-bottom-left-radius: 3px;
        }
    }
    >span{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: $gray-800;
    }
}

/**
* Paragraph composicion
*/

.paragraph--type--composicion {
    margin-bottom: 20px;
    >div {
        color: $gray-800;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
    .nombre-unidad {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
    }
}


/**
* Paragraph global con enlaces
*/

.paragraph.list-link,
.list-link{
    display: block;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0;
    >i {
        position: absolute;
        top: 3px;
    }
    >a {
        display: block;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 12px;
        margin-left: 10px;
        color: $primary-dark;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
    }
    .field__item{
        display: block;
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 0 !important;
        >i {
            position: absolute;
            top: 3px;
        }
        >a {
            margin-left: 10px;
            display: block;
            font-size: 15px;
            color: $primary-dark;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 12px;
        }
    }
}

/**
* Tipo de campo enlace con maquetacion como el paragraph Enlace list-link
*/

.block-field-blocknodeanunciofield-url-anuncio{
    display: block;
    width: 100%;
    float: left;
    position: relative;
    >.content{
        >a {
            margin-left: 20px;
            display: block;
            color: $primary-dark;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 12px;
            position: relative;
            &::before {
                content: "\f0da";
                font-family: 'Font Awesome 5 Free';
                font-style: normal;
                font-weight: 600;
                text-decoration: inherit;
                color: $primary-dark;
                font-size: 18px;
                position: absolute;
                top: 0px;
                left: -15px;
            }
        }
    }
}


/**
* Paragraph global con enlaces en encabezado
*/

.encab-secc {
    .block {
        .field {
            .paragraph {
                >a {
                    margin-left: 0;
                    margin-bottom: 0;
                    font-weight: normal;
                }
                >i{
                    display: none;
                }
            }
        }
    }
}

.paragraph--type--plazo {
    >.field {
        display: block;
        float: left;
        width: 100%;
    }
}

@include tablet-responsive {
    .paragraph--type--plazo {
        >.field {
            text-align: left;
            position: relative;
        }
    }
}