/* MIXINS */

//Landon Schropp's technique
$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px;
//Awe builder widths
$mobile-width: 600px;
$tweb-width: 1024px;

//Nuevos puntos de corte
$screen-sm-max: 575px;
$screen-md-max: 767px;
$screen-lg-max: 991px;
$screen-1024-max: 1023px;
$screen-1300-max: 1299px;

@mixin mobile-responsive {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin responsive {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablet-responsive {
    @media (max-width: #{$tweb-width}) {
        @content;
    }
}