{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
    {% for item in items %}
        <a href="{{ item.content['#url']}}"><i class="fa fa-twitter-square fa-2x"></i></a>
    {% endfor %}
</div>